@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: #000000;
  color: white
}
.icon-container {
  transition: transform 0.3s ease; /* Add a transition to the transform property */
}

.icon-container.hovered {
  transform: scale(1.8); /* Scale the icon when hovered */
}
